services:
  web:
    container_name: tricli
    # image: tricli:latest
    image: ghcr.io/jurgensomerszenitss/tricli/tricli:latest
    build:
      # context: ./app
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    environment:
      # Internal service URLs
      DB_NAME: tricli
      DB_HOST: http://ravendb:8080
    depends_on:
      - ravendb 
    networks:
      - public
      - private

  ravendb:
    container_name: ravendb
    image: ravendb/ravendb:latest 
    environment:
      RAVEN_Setup_Mode: None
      RAVEN_Security_UnsecuredAccessAllowed: PrivateNetwork
    volumes:
      # - c:/RavenDb/Tricli/Data:/opt/RavenDB/Server/RavenData
      - /etc/tricli/data:/opt/RavenDB/Server/RavenData
    networks:
      - private
 
networks:
  public:
    driver: bridge

  private:
    driver: bridge
    internal: true

volumes:
  ravendb-data: 
