@import "tailwindcss";

:root {
  --background: var(--color-neutral-200);
  --foreground: var(--color-neutral-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto);
}

.card-group {
  @apply rounded-md bg-gray-50 mx-2;
}

.card-group-title {
  @apply text-base font-bold italic flex flex-row gap-x-2 mb-2;
}

.form-card {
  @apply rounded-md bg-gray-50 p-4 md:p-6 mx-2;
}

.form-card-title {
  @apply text-base font-bold italic flex flex-row gap-x-2 mb-2;
}

.form-group {}

.field-label {
  @apply mb-1 block text-sm font-medium;
}

.field-label-checkbox {
  @apply mr-2 flex cursor-pointer items-center gap-1.5 py-1.5 text-xs font-medium text-gray-600;
}

.form-field {
  @apply block w-full rounded-md border-gray-300 py-[9px] px-2 text-sm border-2 placeholder:text-gray-500 focus:outline-0 focus:border-purple-500 h-8;
}

.form-field-textarea {
  @apply block w-full rounded-md border-gray-300 py-[9px] px-2 text-sm border-2 placeholder:text-gray-500 focus:outline-0 focus:border-purple-500;
}

.form-field-select {
  @apply block w-full rounded-md border-gray-300  text-sm border-2 placeholder:text-gray-500 focus:outline-0 focus:border-purple-500 h-8;
}

.form-field-error {
  @apply mt-1 ml-1 text-sm text-red-500;
}

.form-field-checkbox {
  @apply h-4 w-4 cursor-pointer border-gray-300 bg-gray-100 text-purple-500 mr-1;
}

.button-group {
  @apply mt-6 flex justify-end gap-4 m-2 fixed bottom-4 right-4;
}

.button-submit {
  @apply bg-purple-950 hover:bg-amber-500 rounded-full w-15 h-15 text-white text-4xl justify-center items-center flex cursor-pointer;
}

.button-submit:disabled {
  @apply bg-gray-600
}

.button-cancel {
  @apply bg-gray-100 hover:bg-gray-300 rounded-full w-15 h-15 text-4xl justify-center items-center flex text-purple-950;
}

.button-edit {
  @apply bg-purple-950 hover:bg-amber-500 rounded-full w-15 h-15 text-white text-4xl justify-center items-center flex cursor-pointer;
}

.form-footer {
  @apply flex flex-row items-center;
}

.button-delete {
  @apply bg-red-600 hover:bg-amber-300 rounded-full w-15 h-15 text-4xl justify-center items-center flex text-white cursor-pointer;
}

.button-delete-container {
  @apply w-full 
}

.button-delete-yes {
  @apply bg-white hover:bg-green-100 rounded-full w-15 h-15 text-4xl justify-center items-center flex text-green-600 cursor-pointer;
}

.button-delete-no {
  @apply bg-white hover:bg-red-100 rounded-full w-15 h-15 text-4xl justify-center items-center flex text-red-800 cursor-pointer;
}

.button-form {
  @apply bg-purple-950 hover:bg-amber-300 rounded-full w-7 h-7 text-4xl justify-center items-center flex text-white cursor-pointer
}

.button-form-red {
  @apply bg-red-600 hover:bg-amber-300 rounded-full w-7 h-7 text-4xl justify-center items-center flex text-white cursor-pointer
}


.login-label {
  @apply block text-sm font-medium ml-6 mt-6;
}

.login-field {
  @apply block w-full rounded-md border-gray-300 px-2 border-2 placeholder:text-gray-500 focus:outline-0 focus:border-purple-500 h-8 ml-6
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}