name: Publish

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write   

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/${{ github.repository }}/tricli

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to GHCR
      run: echo "${{ secrets.GH_SECRET }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build image
      run: |
        docker build -t $IMAGE_NAME:latest .
        docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ github.sha }} 

    - name: Push image to repository
      run: |
        docker push $IMAGE_NAME:latest
        docker push $IMAGE_NAME:${{ github.sha }}

  deploy:
    needs: build
    name: deploy
    runs-on: ubuntu-latest

    steps: 
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /etc/tricli/app
          echo "AUTH_SECRET=${{ secrets.APP_ENV_AUTH_SECRET }}" > .env
          echo "GOOGLE_API_KEY=${{ secrets.APP_ENV_GOOGLE_API_KEY }}" > .env           
          echo "${{ secrets.GH_SECRET }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker pull ghcr.io/${{ github.repository }}/tricli:latest
          docker compose down 
          docker compose -p tricli up -d --pull always --remove-orphans 